
<link href="css/app.css" rel="stylesheet">

   <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">

<title>{% block title %}E-city{% endblock %}</title>




  <link href="{{ asset ('img/icone.png') }}" rel="icon">




{% block section %}




      <main class="d-flex w-100">

         <div class="container d-flex flex-column">

         <div class="row vh-100">

         

            <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">

               <div class="d-table-cell align-middle">

                  <div class="text-center mt-4">

                     <a href="{{ path ('app_acceuil')}}">

                     <h1 style="color: #37423b; font-size: 35px;">

                     <strong>E-CITY</strong>

                     </h1>

                     </a>

                  </div>

                  <div class="card">

                     <div class="card-body">

                        <div class="m-sm-4">

<form method="post">








    {% if app.user %}

        <div class="mb-3">

            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>

        </div>

    {% endif %}

 <div class="mb-3">

    <label for="inputemail"class="form-label">Adresse Mail</label>

    <input  class="form-control form-control-lg" type="email" value="{{ last_username }}" name="email" id="inputemail" class="form-control" autocomplete="email" required autofocus placeholder="Saisir votre adresse mail" {% if app.session.get('form_blocked_until')
 is not null %} disabled {% endif %}>

     </div>

      <div class="mb-4">

    <label for="inputPassword">Mot de passe</label>

    <input class="form-control form-control-lg" type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required placeholder="Saisir votre mot de passe" {% if app.session.get('form_blocked_until') is not null
 %} disabled {% endif %}>




    <input type="hidden" name="_csrf_token"

           value="{{ csrf_token('authenticate') }}"

    >

                           <div>

                               {% if error %}

    <div class="alert alert-danger" style="color: red;">

        <!-- Modifiez le message ci-dessous -->

Mot de passe ou mail incorrecte    </div>

{% endif %}

{% if app.session.flashbag.has('error') %}

    <div class="alert alert-danger" style="color: red;">

        {% for message in app.session.flashbag.get('error') %}

            {{ message }}

        {% endfor %}

    </div>

{% endif %}

{% if app.session.get('form_blocked_until') is not null %}

    <div class="alert alert-danger" role="alert">

    </div>

{% endif %}

                                 </div>

    <small>

    <a href="{{ path('app_forgot_password_request') }}"> Mot de Passe oublié?</a>

</small>

<div>

                                 <label class="form-check">

                                 <input class="form-check-input" type="checkbox" value="remember-me" name="remember-me" >

                                 <span class="form-check-label">

                                 Se souvenir de moi la prochaine fois           

                                 </span>

                                 </label>

          

                              </div>

                                <div  style="display: flex; justify-content: center; align-items: center;">

<button class="btn btn-lg btn-primary" type="submit" style="font-size: 14px; white-space: nowrap;" {% if app.session.get('form_blocked_until') is not null %} disabled {% endif %}>

    Se connecter

</button>






    </div>

</form>






 </div>

                  

                     </div>

                 

                  </div>

                  

              

               </div>

               <div class="card">

                     <div >

                        <div class="m-sm-4">

                        

                          

                           <div style="text-align: center;">

                              <small>

                              Vous n’avez pas de compte? <a href="{{ path ('app_register')}}">Créer un Compte</a>

                              </small>

                           </div>

                        </div>

                  

                     </div>




                

                  </div>

            </div>

         </div>   

      </main>

      <script src="js/app.js"></script>

{% endblock %}




