{% extends 'Back/base.html.twig' %}

{% block title %}Statistiques{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.10.1/main.min.css' rel='stylesheet' />
    <style>
        /* Style personnalisé pour le calendrier */
        #calendar {
            max-width: 800px; /* Largeur maximale du calendrier */
            margin: 0 auto; /* Centrage horizontal */
        }
    </style>
{% endblock %}

{% block main %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h2>Statistiques des commandes</h2>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Nombre total de commandes : {{ commandesStats.totalCommandes }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h2>Articles les plus vendus</h2>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            {% for articleStat in articlesStats %}
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    {{ articleStat.nom_article }}
                                    <span class="badge bg-primary rounded-pill">{{ articleStat.totalVentes }} ventes</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
    <div class="card-header">
        <h2>Article de la semaine</h2>
    </div>
    <div class="card-body">
        <p class="card-text">
            L'article le plus vendu de la semaine est : {{ topArticleOfWeek.nom_article }}
            avec {{ topArticleOfWeek.totalVentes }} ventes et un prix total de {{ topArticleOfWeek.prixTotal }} DT.
        </p>
    </div>
</div>
        <div class="col-12 col-md-6 col-xxl-3 d-flex order-1 order-xxl-1">
                <div class="card flex-fill">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Calendrier</h5>
                    </div>
                    <div class="card-body d-flex">
                        <div class="align-self-center w-100">
                            <div class="chart">
                                <div id="datetimepicker-dashboard"></div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            
            
    </div>
{% endblock %}

