{% extends 'Back/base.html.twig' %}


{% block main %}

<table>
<tr>
<th>Nom</th>
<th>Prenom</th>

<th>Numéro Téléphone</th>
<th>Adresse mail</th>

<th>image</th>
<th>role</th>


<th></th>
<th></th>
</tr>
{%  for admin in list %}
<tr>
<td>{{admin.personne.getNomPersonne()}}</td>
<td>{{admin.personne.getPrenomPersonne()}}</td>

<td>{{admin.personne.getNumeroTelephone()}}</td>
<td>{{admin.personne.getMailPersonne()}}</td>

<td>{{admin.personne.getImagePersonne()}}</td>
<td>{{admin.role}}</td>


<td>
                    <a href="{{path('app_administrateur_edit', {id:admin.personne.getId()})}}">edit</a>
                    
                </td>
                <td>
                    <a href="{{path('app_administrateur_delete', {id:admin.personne.getId()})}}">Delete</a>
</tr>
{% endfor %}
</table>
                <a href="{{path('app_administrateur_add')}}">Ajouter Client</a>


{% endblock %}
