{% extends 'Front/base.html.twig' %}

{% block title %}Hello ParkingController!{% endblock %}

{% block menu %}
<li><a href="{{ path ('app_acceuil')}}">Acceuil</a></li>
<li><a href="{{ path ('app_acceuil')}}">Santé</a></li>
<li><a href="{{ path ('app_acceuil')}}">Shopping</a></li>
<li><a href="{{ path ('app_transport')}}">Transport</a></li>
<li><a href="{{ path ('app_parking')}}" class="active">Parking</a></li>
<li><a href="{{ path ('app_acceuil')}}">Tourisme</a></li>
<li><a href="{{ path ('app_acceuil')}}">Contact</a></li>
{% endblock %}

{% block body %}
<div class="container">
<h1>Place déja reservée</h1>

{# <a href="{{  path('app_parkingF') }}">back to parkings</a><br> #}

<title>Place</title>

    <table class="table">
        <tbody>
            <tr>
                <th>RefPlace</th>
                <td>{{ place.refPlace }}</td>
            </tr>
            <tr>
                <th>Numéro</th>
                <td>{{ place.numPlace }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ place.typePlace }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ place.etat }}</td>
            </tr>
            {# <tr>
                <th>
                    {% if qrCodes[place.refPlace] is defined %}
                        <img src="{{ asset(qrCodes[place.refPlace]) }}"  style="width: 80px; height: 80px;" alt="QR Code">
                    
                    {% endif %}
                </th>
            </tr> #}
        </tbody>
    </table>
    {# <h3><a href="{{  path('app_place_annulerRes', {'idP': idP, 'refP': place.refplace}) }}">Annuler Reservation</a></h3> #}
    <div style="text-align: center;"><h4><a href="{{  path('app_place_annulerRes', {'idP': idP, 'refP': place.refplace}) }}" >Annuler Reservation</a></h4></div>
</div>

{% endblock %}
