{% extends 'Front/base.html.twig' %}

{% block title %}Hello ParkingController!{% endblock %}

{% block menu %}
<li><a href="{{ path ('app_acceuil')}}">Acceuil</a></li>
<li><a href="{{ path ('app_acceuil')}}">Santé</a></li>
<li><a href="{{ path ('app_acceuil')}}">Shopping</a></li>
<li><a href="{{ path ('app_transport')}}">Transport</a></li>
<li><a href="{{ path ('app_parking')}}" class="active">Parking</a></li>
<li><a href="{{ path ('app_acceuil')}}">Tourisme</a></li>
<li><a href="{{ path ('app_acceuil')}}">Contact</a></li>
{% endblock %}

{% block body %}
<h1>Place déja reservée</h1>

<a href="{{  path('app_parkingF') }}">back to parkings</a><br>

<title>Place</title>

    <table class="table">
        <tbody>
            <tr>
                <th>RefPlace</th>
                <td>{{ place.refPlace }}</td>
            </tr>
            <tr>
                <th>Numéro</th>
                <td>{{ place.numPlace }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ place.typePlace }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ place.etat }}</td>
            </tr>
        </tbody>
    </table>
    
    <a href="{{  path('app_place_annulerRes', {'idP': idP, 'refP': place.refplace}) }}" class="btn" style ="width: 150px;"><h4>Annuler Reservation</h4></a>

<!-- Vesitable Shop End -->
<!-- JavaScript Libraries -->
    <script src="{{asset('https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js')}}"></script>
    <script src="{{asset('https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{asset('parking/lib/easing/easing.min.js')}}"></script>
    <script src="{{asset('parking/lib/waypoints/waypoints.min.js')}}"></script>
    <script src="{{asset('parking/lib/lightbox/js/lightbox.min.js')}}"></script>
    <script src="{{asset('parking/lib/owlcarousel/owl.carousel.js')}}"></script>
    
    <!-- Template Javascript -->
    <script src="{{asset('parking/js/main.js')}}"></script>
{% endblock %}