{# reservation/addReservation.html.twig #}
{% for typeChambre, price in prices %}
            <span style="display: none;" id="{{typeChambre}}">{{price}}</span>
    {% endfor %}
            
   <script>
document.addEventListener('DOMContentLoaded', function() {
    var dropdown = document.getElementById('hotel_reservation_typeChambre');
    var priceField = document.getElementById('hotel_reservation_prixReservation');

    dropdown.addEventListener('change', function() {
        var selectedOption = this.value;
        var priceSpan = document.getElementById(selectedOption);
        var price = priceSpan.textContent; // Get the price from the span

        priceField.value = price; // Set the price in the text field
    });
});
</script>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            {{ form_start(form , {'attr': {'class': 'reservation-form' ,'novalidate': 'novalidate'}}) }}
            {{form_errors(form)}}
            
 <div class="form-group">
    <label for="hotelName" class="form-label text-center">Hotel</label>
    <input type="text" id="hotelName" class="form-control " value="{{ hotel.getNomHotel }}" readonly>
</div>

            <div class="form-group">
                {{ form_label(form.dureeReservation, 'Durée de la réservation', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.dureeReservation, {'attr': {'class': 'form-control '}}) }}
                {{ form_errors(form.dureeReservation, {'attr': {'class': 'error-message'}}) }}
            </div>
           
        <div class="form-group">
                {{ form_label(form.dateReservation, 'Date de la réservation', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.dateReservation, {'attr': {'class': 'form-control '}}) }}
                {{ form_errors(form.dateReservation, {'attr': {'class': 'error-message'}}) }}
            </div>
          
            <div class="form-group">
                {{ form_label(form.typeChambre, 'Type de chambre', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.typeChambre, {'attr': {'class': 'form-control '}}) }}
                {{ form_errors(form.typeChambre, {'attr': {'class': 'error-message'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.prixReservation, 'Prix de la réservation', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.prixReservation, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.prixReservation, {'attr': {'class': 'error-message'}}) }}
            </div>
            
        <div class="form-group text-center mt-2">
  <div class="text-center">
    <button type="submit" class="btn btn-primary btn-block" style="background-color: #57C0DD; border: none; margin-right: 10px;">Enregistrer</button>

    <a href="{{ path('app_paiement', {'id': hotel.idHotel}) }}" style="margin-left: 10px;"> <img src="{{ asset('img/paiement.png') }}" style="width: 50px; height: 50px;"> Payer</a>
</div>

</div>


            {{ form_end(form) }}

            <!-- Inclure le script JavaScript à la fin du fichier -->
            <script src="{{ asset('js/reservation.js') }}"></script>
        </div>
    </div>
</div>
