{% extends 'Back/base.html.twig' %}

{% block sideBar %}
<nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="index.html">
        <span class="align-middle">AdminKit</span>
        </a>
        
                <ul class="sidebar-nav">
                    <li class="sidebar-header">
                        Pages
                    </li>
        
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="index.html">
            <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
            </a>
                    </li>
        
                    <li class="sidebar-item active">
                        <a class="sidebar-link" href="{{path('app_parkingB')}}">
            <i class="align-middle" data-feather="car"></i> <span class="align-middle">Parking</span>
            </a>
                    </li>
                </ul>
    </div>
</nav>
{% endblock %}

{% block main %}
    <br><h1><a href="{{ path('app_place_indexB', {'idP': idP}) }}" class="btn" style ="width: 50px;"><i class="fas fa-arrow-left fa-2x"></i></a>Modifier Place</h1><br>

    {{ include('Back/place/_form.html.twig', {'button_label': 'Update'}) }}

    {# <a href="{{ path('app_place_indexB', {'idP': idP}) }}">back to list</a> #}
{# 
    {{ include('Back/place/_delete_form.html.twig') }} #}
{% endblock %}
