{% extends 'Back/base.html.twig' %}

{# {% block sideBar %}
<nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="index.html">
            <span class="align-middle">AdminKit</span>
          </a>
          
                  <ul class="sidebar-nav">
                      <li class="sidebar-header">
                          Pages
                      </li>
          
                      <li class="sidebar-item">
                          <a class="sidebar-link" href="index.html">
                <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
              </a>
                      </li>
          
                      <li class="sidebar-item active">
                          <a class="sidebar-link" href="{{path('app_parkingB')}}">
                <i class="align-middle" data-feather="car"></i> <span class="align-middle">Parking</span>
              </a>
                      </li>

                      <li class="sidebar-item">
                          <a class="sidebar-link" href="{{path('app_parking_stat')}}">
                <i class="align-middle" data-feather="stat"></i> <span class="align-middle">Statistic</span>
              </a>
                      </li>
          
                      <li class="sidebar-item">
                          <a class="sidebar-link" href="{{path('app_parking_recy')}}">
                <i class="align-middle" data-feather="stat"></i> <span class="align-middle">Recycle</span>
              </a>
                      </li>
                  </ul>
    </div>
</nav>
{% endblock %} #}

{% block main %}
    <h1><a href="{{ path('app_place_indexB', {'idP': idP}) }}" class="btn" style ="width: 50px;"><i class="fas fa-arrow-left fa-2x"></i></a>Ajouter Place</h1>
    {{ include('Back/place/_form.html.twig') }}

    {# <a href="{{ path('app_place_indexB', {'idP': idP}) }}">back to list</a> #}
{% endblock %}
