{% extends 'Front/base.html.twig' %}

{% block section %}

{{ form_start(form_client, {'attr': {'novalidate': 'novalidate'}}) }}
{{ form_errors(form_client) }} {# Afficher les erreurs globales du formulaire #}

<table>
    <tr>
        <td colspan="2">  {{ form_label(form_client.personne.nom_personne, "Nom") }} </td>
        <td colspan="2">   {{ form_widget(form_client.personne.nom_personne) }} </td>
        <td colspan="2"> {{ form_errors(form_client.personne.nom_personne) }}</td>
    </tr>
    <tr>
        <td colspan="2"> {{ form_label(form_client.personne.prenom_personne  ,"Prénom") }} </td>
        <td colspan="2"> {{ form_widget(form_client.personne.prenom_personne) }} </td>  
        <td colspan="2">{{ form_errors(form_client.personne.prenom_personne) }}  </td>
    </tr>
    <tr>
        <td >{{ form_label(form_client.genre,  "Genre") }}<td>
        <td >{{ form_widget(form_client.genre ) }}</td>
        <td >{{ form_errors(form_client.genre) }}</td>
    </tr>
    <tr>
        <td >{{ form_label(form_client.age,  "Age") }}<td>
        <td >{{ form_widget(form_client.age ) }}</td>
        <td >{{ form_errors(form_client.age) }}</td>
    </tr>
    <tr>
        <td >{{ form_label(form_client.personne.numero_telephone,  "Numéro de Téléphone") }}<td>
        <td >{{ form_widget(form_client.personne.numero_telephone ) }}</td>
        <td >{{ form_errors(form_client.personne.numero_telephone) }}</td>
    </tr>
    <tr>
        <td >{{ form_label(form_client.personne.mail_personne,  "Adresse Mail") }}<td>
        <td >{{ form_widget(form_client.personne.mail_personne ) }}</td>
        <td >{{ form_errors(form_client.personne.mail_personne) }}</td>

        <tr>
        <td >{{ form_label(form_client.personne.mdp_personne,  "Mot de Passe") }}<td>
        <td >{{ form_widget(form_client.personne.mdp_personne ) }}</td>
        <td >{{ form_errors(form_client.personne.mdp_personne) }}</td>
    </tr>
   <tr>
            <td>{{ form_label(form_client.personne.image_personne,  "Image") }}</td>
            <td>
                {% if client_image %}
                    <img src="{{ asset(client_image) }}" alt="Client Image">
                {% else %}
                    No image available
                {% endif %}
            </td>
            <td>{{ form_widget(form_client.personne.image_personne) }}</td>
            <td>{{ form_errors(form_client.personne.image_personne) }}</td>
        </tr>

    
    </table>
   <a href="{{ path('client_list') }}">Retour à la liste</a>

    {{form_widget(form_client.Submit)}}
{{ form_end(form_client) }}

{% endblock %}
