
{% extends 'Front/base.html.twig' %}


{% block section %}

<table>
<tr>
<th>Nom</th>
<th>Prenom</th>
<th>genre</th>
<th>age</th>
<th>Numéro Téléphone</th>
<th>Adresse mail</th>

<th>image</th>


<th></th>
<th></th>
</tr>
{%  for client in list %}
<tr>
<td>{{client.personne.getNomPersonne()}}</td>
<td>{{client.personne.getPrenomPersonne()}}</td>
<td>{{client.genre}}</td>
<td>{{client.age}}</td>
<td>{{client.personne.getNumeroTelephone()}}</td>
<td>{{client.personne.getMailPersonne()}}</td>

<td>{{client.personne.getImagePersonne()}}</td>

<td>
                    <a href="{{path('app_client_edit', {id:client.personne.getId()})}}">edit</a>
                    
                </td>
                <td>
                    <a href="{{path('app_client_delete', {id:client.personne.getId()})}}">Delete</a>
</tr>
{% endfor %}
</table>
                <a href="{{path('app_client_add')}}">Ajouter Client</a>

{% endblock %}
