{% extends 'base.html.twig' %}

{% block title %}Client index{% endblock %}

{% block body %}
    <h1>Client index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id_personne</th>
                <th>Nom_personne</th>
                <th>Prenom_personne</th>
                <th>Numero_telephone</th>
                <th>Mail_personne</th>
                <th>Mdp_personne</th>
                <th>Image_personne</th>
                <th>Genre</th>
                <th>Age</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.id_personne }}</td>
                <td>{{ client.nom_personne }}</td>
                <td>{{ client.prenom_personne }}</td>
                <td>{{ client.numero_telephone }}</td>
                <td>{{ client.mail_personne }}</td>
                <td>{{ client.mdp_personne }}</td>
                <td>{{ client.image_personne }}</td>
                <td>{{ client.genre }}</td>
                <td>{{ client.age }}</td>
                <td>
                    <a href="{{ path('app_client_show', {'id_personne': client.id_personne}) }}">show</a>
                    <a href="{{ path('app_client_edit', {'id_personne': client.id_personne}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_client_new') }}">Create new</a>
{% endblock %}
