{% extends 'base.html.twig' %}

{% block title %}Client index{% endblock %}

{% block body %}
    <h1>Client index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdPersonne</th>
                <th>NomPersonne</th>
                <th>PrenomPersonne</th>
                <th>NumeroTelephone</th>
                <th>MailPersonne</th>
                <th>MdpPersonne</th>
                <th>ImagePersonne</th>
                <th>Genre</th>
                <th>Age</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.idPersonne }}</td>
                <td>{{ client.nomPersonne }}</td>
                <td>{{ client.prenomPersonne }}</td>
                <td>{{ client.numeroTelephone }}</td>
                <td>{{ client.mailPersonne }}</td>
                <td>{{ client.mdpPersonne }}</td>
                <td>{{ client.imagePersonne }}</td>
                <td>{{ client.genre }}</td>
                <td>{{ client.age }}</td>
                <td>
                    <a href="{{ path('app_client_show', {'idPersonne': client.idPersonne}) }}">show</a>
                    <a href="{{ path('app_client_edit', {'idPersonne': client.idPersonne}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_client_new') }}">Create new</a>
{% endblock %}
