{% extends 'base.html.twig' %}

{% block title %}Client{% endblock %}

{% block body %}
    <h1>Client</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id_personne</th>
                <td>{{ client.id_personne }}</td>
            </tr>
            <tr>
                <th>Nom_personne</th>
                <td>{{ client.nom_personne }}</td>
            </tr>
            <tr>
                <th>Prenom_personne</th>
                <td>{{ client.prenom_personne }}</td>
            </tr>
            <tr>
                <th>Numero_telephone</th>
                <td>{{ client.numero_telephone }}</td>
            </tr>
            <tr>
                <th>Mail_personne</th>
                <td>{{ client.mail_personne }}</td>
            </tr>
            <tr>
                <th>Mdp_personne</th>
                <td>{{ client.mdp_personne }}</td>
            </tr>
            <tr>
                <th>Image_personne</th>
                <td>{{ client.image_personne }}</td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>{{ client.genre }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ client.age }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_client_index') }}">back to list</a>

    <a href="{{ path('app_client_edit', {'id_personne': client.id_personne}) }}">edit</a>

    {{ include('client/_delete_form.html.twig') }}
{% endblock %}
