{% extends 'Front/base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block section %}
    <div class="container">
        <div style="border: 3px solid #ccc; padding: 20px; margin-bottom: 20px;">
            <img src="{{ asset('img/logo1.png') }}" alt="Logo" style="max-width: 100px; margin-bottom: 10px;">
            <h1 style="font-size: 24px; font-weight: bold;">Commande #{{ commande.idCommande }}</h1>

            <div style="margin-bottom: 15px;">
                <strong>Nombre d'articles:</strong> {{ commande.nombreArticle }}<br>
                <strong>Prix total:</strong> {{ commande.prixTotale }}<br>
                <strong>Délai de commande:</strong> {{ commande.delaisCommande ? commande.delaisCommande|date('Y-m-d H:i:s') : '' }}
            </div>

            <h4 style="font-size: 20px; font-weight: bold;">Articles dans la commande :</h4>
            <div class="row">
                <div class="col-md-12 mb-4">
                    {% for article in articlesParCommande[commande.idCommande] %}
                        <div class="col-md-4 mb-4">
                            <div class="card" style="border: 3px solid #ccc;  border-radius: 0px;">
                                <div class="row no-gutters">
                                    <div class="col-md-4">
                                        <img src="{{ asset(article.photoArticle) }}" class="card-img-top article-image" style="width: 150px; height: 150px;">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title" style="font-size: 18px; font-weight: bold; margin-bottom: 10px;">{{ article.nomArticle }}</h5>
                                            <p class="card-text" style="margin-bottom: 5px;">Prix: {{ article.prixArticle }}</p>
                                            <p class="card-text" style="margin-bottom: 5px;">Type: {{ article.typeArticle }}</p>
                                            <p class="card-text">{{ article.descriptionArticle }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
         
        <a href="{{ path('app_article_index') }}" class="btn btn-secondary" style="background-color: #007bff; color: #fff; border: none; padding: 10px 20px; border-radius: 5px; text-decoration: none; transition: background-color 0.3s ease;">Retour à la liste des articles</a>
    </div>
{% endblock %}
