{% extends 'Back/base.html.twig' %}

{% block main %}
<div class="row" style="margin-left: 2px; margin-right: 2px;">
     &nbsp;
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-md-6 text-right">
                <h1 style="font-family: Arial, sans-serif; color: black; font-size: 35px;">Liste des clients :</h1>
            </div>
            <div class="col-md-6 d-flex justify-content-end"> 
    <div class="mt-4">
        <a href="{{ path('app_user_new') }}" class="btn btn-success">
            <i class="align-middle me-1" data-feather="plus-circle"></i> Ajouter un nouvel client
        </a>
    </div>
</div>
 &nbsp;
        <table class="table table-hover my-0">
            <thead>
                <tr>
                                    

                    <th>Nom</th>
                    <th class="d-none d-xl-table-cell">Prénom</th>
                    <th>Numéro Téléphone</th>
                                        <th class="d-none d-md-table-cell">Adresse email</th>

                      <th class="d-none d-md-table-cell">age</th>
    <th class="d-none d-md-table-cell">genre</th>
                    <th class="d-none d-md-table-cell">Image</th>
                    <th class="d-none d-md-table-cell">Etat verification</th>
                    
                    <th class="d-none d-md-table-cell">Etat ban</th>

                    <th class="d-none d-md-table-cell">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                {% if 'CLIENT' in user.roles %}

                <tr>
                    <td>{{ user.nomPersonne }}</td>
                    <td>{{ user.prenomPersonne }}</td>
                                        <td>{{ user.numeroTelephone }}</td>

                    <td>{{ user.email }}</td>
                     
               
 <td>{{ user.age }}</td> <td>{{ user.genre }}</td>


      <td>
                        <img src="{{ asset('img/image_compte/' ~ user.imagePersonne) }}" alt="{{ user.nomPersonne }}" width="50" height="50">
                    </td>
                                     {% if user.isVerified == 1 %}

                     <td>✅</td>
    {% else %}
                     <td>❌</td>
                     {% endif %}

                                      {% if user.isBanned == 1 %}

                     <td>⛔</td>
 {% else %}
                     <td>🟢</td>
                     {% endif %}
                    <td>
                        <a href="{{path('app_user_delete', {id:user.getId()})}}" class="btn btn-sm btn-secondary">
                            <i class="fa fa-eye" aria-hidden="true"></i> {{ 'Supprimer'|trans }}
                        </a>

                        <a href="{{ path('app_user_edit', {'id': user.id}) }}" class=" btn btn-sm btn-primary">
                        
                            <i class="fa fa-edit" aria-hidden="true"></i> {{ 'Modifier'|trans }}
                        </a>
                    </td>
                </tr>
               
            {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
